# File              : deploy_model.yaml
# Author            : Alexandre Saison <alexandre.saison@inarix.com>
# Date              : 29.01.2021
# Last Modified Date: 31.05.2021
# Last Modified By  : Alexandre Saison <alexandre.saison@inarix.com>
name: Test full CI
on:
  push:
    branches: ["master", "dev"]
jobs:
  create-application:
    name: create test application
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: argocd-create-aplication
        id: createApp
        uses: ./
        with:
          argocdToken: ${{secrets.ARGOCD_TOKEN}}
          argocdEndpoint: "https://argocd.inarix.com"
          destClusterName: "in-cluster"
          applicationName: "nginx"
          helmChartName: "nginx"
          helmChartVersion: "9.7.0"
          helmRepoUrl: "https://charts.bitnami.com/bitnami"
          actionName: "create"
          applicationParams: "image.debug=true;replicaCount=2;service.type=ClusterIP"
  read-application:
    needs: create-application
    name: read/get application
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: argocd-create-aplication
        id: readApplication
        uses: ./
        with:
          argocdToken: ${{secrets.ARGOCD_TOKEN}}
          argocdEndpoint: "https://argocd.inarix.com"
          applicationName: "nginx"
          actionName: "get"
      - name: flush result
        run: echo "Result=$(echo ${{steps.readApplication.outputs.application}} | jq)"
  update-application:
    name: update created application
    needs: read-application
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: argocd-create-aplication
        id: updateApp
        uses: ./
        with:
          argocdToken: ${{secrets.ARGOCD_TOKEN}}
          argocdEndpoint: "https://argocd.inarix.com"
          destClusterName: "in-cluster"
          applicationName: "nginx"
          helmChartName: "nginx"
          helmChartVersion: "9.7.0"
          helmRepoUrl: "https://charts.bitnami.com/bitnami"
          actionName: "update"
          applicationParams: "image.debug=false;replicaCount=1"
  delete-application:
    name: delete created application
    needs: update-application
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: argocd-delete-aplication
        id: deleteApp
        uses: ./
        with:
          argocdToken: ${{secrets.ARGOCD_TOKEN}}
          argocdEndpoint: "https://argocd.inarix.com"
          applicationName: "nginx"
          actionName: "delete"
